In [1]:
import pandas as pd

clean_df = pd.read_json('../raw_data/old/df_all_clean.json')
info_df = pd.read_json('../raw_data/old/df_with_age_gender.json')

In [2]:
clean_df

,full_transcript,artist,show_name,year,source
0,[rock music playing]\n\n[indistinct chatter]\n...,Adam Devine,Best Time Of Our Lives,2019.0,Scraps from the Loft
1,"strong language. CHEERING Yes, yes, yes! How...",Adam Hess,Live from the BBC,2016.0,BBC
2,"Ladies and gentlemen, please welcome your hos...",Adam Hills,Live at the Apollo Series 9 Episode 4,2013.0,BBC
3,some strong language and adult humour Ladies...,Adam Hills,Live at the Apollo Series 12 Episode 4,2016.0,BBC
4,"? CHEERING Hello, Apollo. I am going to start ...",Adam Hills,Live at the Apollo Series 5 Episode 5,2009.0,BBC
...,...,...,...,...,...
550,Ladies and gentlemen… !\n\nYes. Yes. Thank you...,Wanda Sykes,Not Normal,2019.0,Scraps from the Loft
551,"(techno music playing) ♪ ♪ ♪ Play it, say it, ...",Whitney Cummings,I’m Your Girlfriend,2016.0,Scraps from the Loft
552,"Ladies and gentlemen, from the Barclay Theatre...",Whitney Cummings,I Love You,2014.0,Scraps from the Loft
553,Ladies and gentlemen… !\n\nThis is awesome. I ...,Whitney Cummings,Can I Touch It?,2019.0,Scraps from the Loft
554,", ladies and gentlemen! CHEERING AND APPLAUSE ...",Zoe Lyons,Live at the Apollo Series 11 Episode 2,2015.0,BBC

In [7]:
info_df = info_df[['artist_birthday', 'artist_gender', 'age_then']]

In [8]:
info_df

     artist_birthday  artist_gender  age_then
0             1983.0              2      36.0
1             1990.0              2      26.0
2             1970.0              2      43.0
3             1970.0              2      46.0
4             1970.0              2      39.0
..               ...            ...       ...
550           1964.0              1      55.0
551           1982.0              1      34.0
552           1982.0              1      32.0
553           1982.0              1      37.0
554           1971.0              1      44.0

[555 rows x 3 columns]

In [9]:
full_df = clean_df.join(info_df)

In [10]:
full_df

,full_transcript,artist,show_name,year,source,artist_birthday,artist_gender,age_then
0,[rock music playing]\n\n[indistinct chatter]\n...,Adam Devine,Best Time Of Our Lives,2019.0,Scraps from the Loft,1983.0,2,36.0
1,"strong language. CHEERING Yes, yes, yes! How...",Adam Hess,Live from the BBC,2016.0,BBC,1990.0,2,26.0
2,"Ladies and gentlemen, please welcome your hos...",Adam Hills,Live at the Apollo Series 9 Episode 4,2013.0,BBC,1970.0,2,43.0
3,some strong language and adult humour Ladies...,Adam Hills,Live at the Apollo Series 12 Episode 4,2016.0,BBC,1970.0,2,46.0
4,"? CHEERING Hello, Apollo. I am going to start ...",Adam Hills,Live at the Apollo Series 5 Episode 5,2009.0,BBC,1970.0,2,39.0
...,...,...,...,...,...,...,...,...
550,Ladies and gentlemen… !\n\nYes. Yes. Thank you...,Wanda Sykes,Not Normal,2019.0,Scraps from the Loft,1964.0,1,55.0
551,"(techno music playing) ♪ ♪ ♪ Play it, say it, ...",Whitney Cummings,I’m Your Girlfriend,2016.0,Scraps from the Loft,1982.0,1,34.0
552,"Ladies and gentlemen, from the Barclay Theatre...",Whitney Cummings,I Love You,2014.0,Scraps from the Loft,1982.0,1,32.0
553,Ladies and gentlemen… !\n\nThis is awesome. I ...,Whitney Cummings,Can I Touch It?,2019.0,Scraps from the Loft,1982.0,1,37.0
554,", ladies and gentlemen! CHEERING AND APPLAUSE ...",Zoe Lyons,Live at the Apollo Series 11 Episode 2,2015.0,BBC,1971.0,1,44.0

In [16]:
#full_df.to_json('../raw_data/all_data_df.json')