In [1]:
import pandas as pd

In [2]:
df = pd.read_json('../raw_data/combined_scraps_bbc_df.json')

In [69]:
df[68:72]

,full_transcript,artist,show_name,year,source
68,some strong language CHATTER We were all sli...,Bob Monkhouse,The Last Stand,2003.0,BBC
69,♪ bluesy rock music ♪ ♪ energetic pop rock mus...,Brad Williams,Daddy Issues,2016.0,Scraps from the Loft
70,"Shot at the Gramercy Theatre, New York\n\nThe ...",Brent Morin,I’m Brent Morin,2015.0,Scraps from the Loft
71,[audience cheering] [announcer] Ladies and gen...,Brian Regan,Nunchucks And Flamethrowers,2017.0,Scraps from the Loft

In [66]:
df['artist'].nunique()

268

In [49]:
old_years_df

,full_transcript,artist,show_name,year,source
44,"The machine, Mr. Bert Kreischer, everybody. Le...",Bert Kreischer,Fighting A Bear,NaN,Scraps from the Loft
123,Dave Allen on his first day at Catholic school...,Dave Allen,First Day At Catholic School,NaN,Scraps from the Loft
151,"From No Refunds, recorded at the Gotham Comedy...",Doug Stanhope,On Nationalism,NaN,Scraps from the Loft
154,Immigration. There’s too many people in this f...,Doug Stanhope,On Babies and Abortion,NaN,Scraps from the Loft
199,George Carlin on the 1996 HBO special “Back in...,George Carlin,George Carlin On Abortion And Pro-lifers,NaN,Scraps from the Loft
206,"I know I’m a little late with this, but I’d li...",George Carlin,Politically Correct Language,NaN,Scraps from the Loft
207,"When it comes to bullshit, big-time, major lea...",George Carlin,Religion Is Bullshit,NaN,Scraps from the Loft
262,by Jim Jefferies\n\nI’m gonna talk about somet...,Jim Jefferies,Jim Jefferies On Gun Control,NaN,Scraps from the Loft

In [68]:
df['year'][68] = 2003.0

/var/folders/wx/fdznh_y51_1gnn8tvkcxhsyh0000gn/T/ipykernel_13348/2431458449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'][68] = 2003.0

In [70]:
df.to_json('../raw_data/df_all_clean.json')

In [71]:
df = pd.read_json('../raw_data/df_all_clean.json')

In [76]:
df['full_transcript'] = df.apply(lambda row: row['full_transcript'].replace(str(row['artist']),''),axis=1)

In [80]:
artist_list = df['artist'].unique()

In [81]:
for name in artist_list:
    df['full_transcript'] = df.apply(lambda row: row['full_transcript'].replace(name,''),axis=1)

In [82]:
df

,full_transcript,artist,show_name,year,source
0,[rock music playing]\n\n[indistinct chatter]\n...,Adam Devine,Best Time Of Our Lives,2019.0,Scraps from the Loft
1,"strong language. CHEERING Yes, yes, yes! How...",Adam Hess,Live from the BBC,2016.0,BBC
2,"Ladies and gentlemen, please welcome your hos...",Adam Hills,Live at the Apollo Series 9 Episode 4,2013.0,BBC
3,some strong language and adult humour Ladies...,Adam Hills,Live at the Apollo Series 12 Episode 4,2016.0,BBC
4,"? CHEERING Hello, Apollo. I am going to start ...",Adam Hills,Live at the Apollo Series 5 Episode 5,2009.0,BBC
...,...,...,...,...,...
550,Ladies and gentlemen… !\n\nYes. Yes. Thank you...,Wanda Sykes,Not Normal,2019.0,Scraps from the Loft
551,"(techno music playing) ♪ ♪ ♪ Play it, say it, ...",Whitney Cummings,I’m Your Girlfriend,2016.0,Scraps from the Loft
552,"Ladies and gentlemen, from the Barclay Theatre...",Whitney Cummings,I Love You,2014.0,Scraps from the Loft
553,Ladies and gentlemen… !\n\nThis is awesome. I ...,Whitney Cummings,Can I Touch It?,2019.0,Scraps from the Loft
554,", ladies and gentlemen! CHEERING AND APPLAUSE ...",Zoe Lyons,Live at the Apollo Series 11 Episode 2,2015.0,BBC

In [83]:
lata = df[df['show_name'].str.contains('Live at the Apollo')]

In [84]:
lata

,full_transcript,artist,show_name,year,source
2,"Ladies and gentlemen, please welcome your hos...",Adam Hills,Live at the Apollo Series 9 Episode 4,2013.0,BBC
3,some strong language and adult humour Ladies...,Adam Hills,Live at the Apollo Series 12 Episode 4,2016.0,BBC
4,"? CHEERING Hello, Apollo. I am going to start ...",Adam Hills,Live at the Apollo Series 5 Episode 5,2009.0,BBC
7,"! APPLAUSE AND CHEERING Hello! Hello, The Apol...",Aisling Bea,Live at the Apollo Series 10 Episode 3,2014.0,BBC
9,"Ladies and gentlemen, please welcome your hos...",Al Murray,Live at the Apollo Series 4 Episode 2,2008.0,BBC
...,...,...,...,...,...
536,"! APPLAUSE All right... Well, good evening, Ap...",Tom Stade,Live at the Apollo Series 10 Episode 5,2014.0,BBC
537,"! All right... Wow, all right. Good evening...",Tom Stade,Live at the Apollo Series 7 Episode 7,2012.0,BBC
538,"! CHEERING AND APPLAUSE Hello. Hello, hello....",Tommy Tiernan,Live at the Apollo Series 6 Episode 6,2011.0,BBC
542,"! CHEERING AND APPLAUSE \nMUSIC: ""The Lion S...",Trevor Noah,Live at the Apollo Series 9 Episode 1,2013.0,BBC
554,", ladies and gentlemen! CHEERING AND APPLAUSE ...",Zoe Lyons,Live at the Apollo Series 11 Episode 2,2015.0,BBC

In [85]:
df.to_json('../raw_data/df_all_clean.json')